#grid-container {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    grid-template-areas: 
    "preta preta x x"
    "preta preta x x"
    "o branca branca branca";
    background-color: yellow;
}

#div-branca {
    background-color: white;
    grid-area: branca;
}

#div-preta {
    background-color: black;
    grid-area: preta;
}

@media only screen and (min-width: 1024px){
    #grid-container{
        grid-template-areas: 
        "preta preta preta preta"
        "x x x x"
        "branca branca branca branca";
    }
}