#grid-login {
    text-align: center;
    grid-template-areas:
    "a"
    "b";
}

#divTitulo {
    align-content: center;
    grid-area: a;
    height: 70vh;
}

#divSenha {
    align-content: center;
    grid-area: b;
    height: 0px;
}

@media only screen and (min-width: 768px){
    #grid-login {
        text-align: center;
        display: grid;
        grid-template-areas:
        "a b";
    }

    #divTitulo {
        align-content: center;
        grid-area: a;
        height: 90vh;
    }

    #divSenha {
        align-content: center;
        grid-area: b;
        height: 90VH;
    }
}

@media only screen and (min-width: 1024px){}

@media only screen and (min-width: 1200px){}